.flip-card {
  perspective: 1000px;
  width: 350px;
  height: 450px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .flip-card-front,
.flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card .flip-card-back {
    background-color: lightblue;
    padding-top: 50px;
  transform: rotateY(180deg);
}

.flip-card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flip-card .card-title {
  text-align: center;
}

.flip-card .card-img-top {
  height: 100%;
}

.card1{
margin:50px 35% 50px 35% ;
}

.row{
margin-top:50px;
}

.word_lim{
overflow: hidden;
     overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3 * 1.5rem;
}

